<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>sample_app doctest</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>${JENKINS_COMMON_WORKSPACE}</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command>. $CHECKMATE/cme-3.3.bashrc 
nosetests --with-doctest sample_app/ `find sample_app -name &quot;_[a-z]*.py&quot; -print`</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>sample_app_C1, pytango_C1</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>
