<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Pytango application ITP with SUT=C2</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>${JENKINS_COMMON_WORKSPACE}</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command>cd $CHECKMATE_HOME
export CHECKMATE_CLASSPATH=$TANGO_CLASSPATH
export TANGO_DB_NAME=pytango_C2_runs
export TANGO_HOST=localhost:10108
DataBaseds 2 -ORBendPoint giop:tcp::10108&amp;
python checkmate/nose_plugin/plugin.py --nocapture --with-checkmate --application=pytango.checkmate.application.Application --sut=C2 --runs=100 --random checkmate/ sample_app/</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
