<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Pytango application ITP with SUT=C1,C3 (once)</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>3</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>${JENKINS_COMMON_WORKSPACE}</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command>cd $CHECKMATE_HOME
export TANGO_DB_NAME='jenkins_pytango_C1_C3'
cd $TANGO_SOURCE/cppserver/database
flock -w 20 /tmp/jenkins-lock -c make
cd -
export TANGO_HOST='localhost:10105'
$TANGO_INSTALL_DIR/bin/DataBaseds 2 -ORBendPoint giop:tcp::10105&amp;
sleep 10
python checkmate/nose_plugin/plugin.py --nocapture --with-checkmate --application=pytango.checkmate.application.Application --sut=C1,C3 checkmate/ sample_app/</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>pytango_C1_C3_runs</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>
