<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Sample application ITP with COMPONENTS=C1,C3</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>${JENKINS_COMMON_WORKSPACE}</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command>sleep 5
cd $CHECKMATE_HOME
python checkmate/nose_plugin/plugin.py --nocapture --with-checkmate --components=C1,C3 --runs=100 --random checkmate/ sample_app/</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
